<h1>Workout Table</h1>


<table class="myTable">
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Reps</th>
		<th>Weight</th>
		<th>Date</th>
		<th>LBs</th>
	</tr>
	{{#each dArray}}
		<tr>
			<td>{{this.id}}</td>
			<td>{{this.name}}</td>
			<td>{{this.reps}}</td>
			<td>{{this.weight}}</td>
			<td>{{this.date}}</td>
			<td>{{this.lbs}}</td>
		</tr>
	{{/each}}

</table>

