<h1>Workout Table</h1>

<table class="myTable">

	<!-- HEADER ROW -->
	<tr>
		<th>Name</th>
		<th>Reps</th>
		<th>Weight</th>
		<th>Date</th>
		<th>LBs</th>
		<th colspan="2">Action</th>
	</tr>
	
	<!-- ADD NEW DATA ROW -->
	<tr>
		<form action="/addrow" method="get">
			<td><input type="text" name="name" required></td>
			<td><input type="number" name="reps"></td>
			<td><input type="number" name="weight"></td>
			<td><input type="date" name="date"></td>
			<td><input type="number" name="lbs" min="0" max="1"></td>
			<td colspan="2">
				<button id="addButton" type="button" onclick="addClick()">(ADD!)</button>
			</td>
		</form>
	</tr>
	
	<!-- THE DATA TABLE -->
	{{#each dArray}}
		<tr id="row_{{this.id}}">
			<td class="myTable">{{this.name}}</td>
			<td class="myTable">{{this.reps}}</td>
			<td class="myTable">{{this.weight}}</td>
			<td class="myTable">{{this.date}}</td>
			<td class="myTable">{{this.lbs}}</td>
			
			<!-- Delete Button -->
			<form action="/delete" method="get">
				<input type="hidden" name="id" value={{this.id}}>
				<td><input type="submit" value="Delete"/></td>
			</form>
			
			<!-- Edit Button -->
			<form action="/edit" method="get">
				<input type="hidden" name="id" value={{this.id}}>
				<td><input type="submit" value="Edit"/></td>
			</form>
		</tr>
	{{/each}}

</table>

