<h1>Update Record</h1>


<table class="myTable">

	<!-- HEADER ROW -->
	<tr>
		<th>Name</th>
		<th>Reps</th>
		<th>Weight</th>
		<th>Date</th>
		<th>LBs</th>
		<th>Action</th>
	</tr>
	
	<!-- ADD NEW DATA ROW -->
	<tr>
		<form action="/update" method="get">
			<td><input type="text" name="name" required></td>
			<td><input type="number" name="reps"></td>
			<td><input type="number" name="weight"></td>
			<td><input type="date" name="date"></td>
			<td><input type="number" name="lbs" min="0" max="1"></td>
			<td colspan="2"><input type="submit" value="Update"/></td>
		</form>
	</tr>
	

	<tr>
		<td class="myTable">{{rowToEdit.name}}</td>
		<td class="myTable">{{rowToEdit.reps}}</td>
		<td class="myTable">{{rowToEdit.weight}}</td>
		<td class="myTable">{{rowToEdit.date}}</td>
		<td class="myTable">{{rowToEdit.lbs}}</td>
	</tr>


</table>

